<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

<h1>Data Wrangling with Regular Expressions</h1>

Estimated time needed: **40** minutes

## Lab Overview:

In the previous data collection labs, you collected some raw datasets from several different sources. In this lab, you need to perform data wrangling tasks in order to improve data quality.

You will again use regular expressions, along with the `stringr` package (part of `tidyverse`), to clean up the bike-sharing systems data that you previously web scraped from the wiki page: 

https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork878-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/l2-list-bike-sharing-systems.png" width="800" align="center">
</a>

One typical challenge of web scraping is that data extracted from HTML pages may contain unnecessary or inconsistently fomatted information.  
For example:
 - Textual annotations in numeric fields: `1000 (Updated with 1050)`
 - Attached reference links: `Bike sharing system [123]`
 - Inconsistent data formats: `Yes` and `Y` for the logical value `TRUE` or `2021-04-09` and `Apr 09, 2021` for the same date
 - HTML style tags: `<span style="color:blue">Bike sharing system</span>`
 - Special characters: `&nbsp` for a white space
 
Many more such examples of noise may be encountered in real-world scraped data and most of such text related noises could be handled by regular expressions.

To summarize, you will be using `stringr` (part of `tidyverse`) and regular expressions to perform the following data wrangling tasks:
  - TASK: Standardize column names for all collected datasets
  - TASK: Remove undesired reference links from the scraped bike-sharing systems dataset
  - TASK: Extract only the numeric value from undesired text annotations

Let's begin by importing the libraries you will use for these data wrangling tasks.

In [3]:
# Check whether you need to install the `tidyverse` library
require("tidyverse")
library(tidyverse)

Loading required package: tidyverse
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   0.8.5
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## TASK: Standardize column names for all collected datasets

In the previous data collection labs, you collected four datasets in csv format:
- `raw_bike_sharing_systems.csv`:  A list of active bike-sharing systems across the world
- `raw_cities_weather_forecast.csv`: 5-day weather forecasts for a list of cities, from OpenWeather API
- `raw_worldcities.csv`: A list of major cities' info (such as name, latitude and longitude) across the world
- `raw_seoul_bike_sharing.csv`: Weather information (Temperature, Humidity, Windspeed, Visibility, Dewpoint, Solar radiation, Snowfall, Rainfall), the number of bikes rented per hour, and date information, from Seoul bike-sharing systems

*Optional:* If you had some difficulties finishing the data collection labs, you may download the datasets directly from the following URLs:

In [ ]:
# Download raw_bike_sharing_systems.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv"
download.file(url, destfile = "raw_bike_sharing_systems.csv")

# Download raw_cities_weather_forecast.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_cities_weather_forecast.csv"
download.file(url, destfile = "raw_cities_weather_forecast.csv")

# Download raw_worldcities.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv"
download.file(url, destfile = "raw_worldcities.csv")

# Download raw_seoul_bike_sharing.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv"
download.file(url, destfile = "raw_seoul_bike_sharing.csv")

To improve dataset readbility by both human and computer systems, we first need to standardize the column names of the datasets above using the following naming convention:
 - Column names need to be UPPERCASE
 - The word separator needs to be an underscore, such as in `COLUMN_NAME`

You can use the following dataset list and the `names()` function to get and set each of their column names, and convert them according to our defined naming convention.

In [4]:
dataset_list <- c('raw_bike_sharing_systems.csv', 'raw_seoul_bike_sharing.csv', 'raw_cities_weather_forecast.csv', 'raw_worldcities.csv')

_TODO_: Write a `for` loop to iterate over the above datasets and convert their column names

In [8]:
for (dataset_name in dataset_list){
    # Read dataset
    dataset <- read.csv(dataset_name)
    # Standardized its columns:
    # Convert all column names to uppercase
    colnames(dataset) <- toupper(colnames(dataset))
    # Replace any white space separators by underscores, using the str_replace_all function
    colnames(dataset) <- str_replace_all(colnames(dataset), " ", "_")
    # Save the dataset 
    write.csv(dataset, dataset_name, row.names=FALSE)
}

_TODO_: Read the resulting datasets back and check whether their column names follow the naming convention

In [6]:
for (dataset_name in dataset_list) {
  # Read the data from the file
  data <- read.csv(dataset_name)
  
  # Print a summary for the dataset
  print(summary(data))
}

          COUNTRY               CITY                  NAME
 Germany      : 62   Germany      : 20   nextbike       : 27
 China        : 61   Bangkok      :  4   Verejný bicykel: 14
 United States: 61   Bratislava   :  4   Rekola         : 12
 France       : 38   Italy        :  4   YouBike        : 12
 Finland      : 26   United States:  3   Kaakau         : 11
 Portugal     : 25   Australia    :  2   (Other)        :429
 (Other)      :281   (Other)      :517   NA's           : 49
              SYSTEM                   OPERATOR      LAUNCHED
 3 Gen. nextbike : 60   JCDecaux           : 16   2010   : 30
 3 Gen.          : 34   Antik Telecom      : 14   2011   : 21
 3 Gen. Cyclocity: 26   Kaakau             : 12   2013   : 18
 3 Gen. B-Cycle  : 25   Motivate           : 10   2009   : 14
 4 Gen.          : 24   NTA & An Rothar Nua:  3   2019   : 13
 (Other)         :239   (Other)            : 68   (Other):416
 NA's            :146   NA's               :431   NA's   : 42
                DISCONTINUED     STATIONS      BICYCLES
 2016                 :  3   dockless: 29   100    : 19
 Discontinued         :  2   4       : 17   500    : 18
 July 2018            :  2   3       : 15   60     : 16
 1 May 2019           :  1   5       : 15   200    : 15
 13 November 2022[342]:  1   10      : 14   300    : 15
 (Other)              : 25   (Other) :382   (Other):375
 NA's                 :520   NA's    : 82   NA's   : 96
          DAILY_RIDERSHIP
 105000 (2017[126]:  1
 12600            :  1
 13000            :  1
 1400             :  1
 14887            :  1
 (Other)          : 19
 NA's             :530
         DATE      RENTED_BIKE_COUNT      HOUR        TEMPERATURE
 01/01/2018:  24   Min.   :   2.0    Min.   : 0.00   Min.   :-17.80
 01/02/2018:  24   1st Qu.: 214.0    1st Qu.: 5.75   1st Qu.:  3.40
 01/03/2018:  24   Median : 542.0    Median :11.50   Median : 13.70
 01/04/2018:  24   Mean   : 729.2    Mean   :11.50   Mean   : 12.87
 01/05/2018:  24   3rd Qu.:1084.0    3rd Qu.:17.25   3rd Qu.: 22.50
 01/06/2018:  24   Max.   :3556.0    Max.   :23.00   Max.   : 39.40
 (Other)   :8616   NA's   :295                       NA's   :11
    HUMIDITY       WIND_SPEED      VISIBILITY   DEW_POINT_TEMPERATURE
 Min.   : 0.00   Min.   :0.000   Min.   :  27   Min.   :-30.600
 1st Qu.:42.00   1st Qu.:0.900   1st Qu.: 940   1st Qu.: -4.700
 Median :57.00   Median :1.500   Median :1698   Median :  5.100
 Mean   :58.23   Mean   :1.725   Mean   :1437   Mean   :  4.074
 3rd Qu.:74.00   3rd Qu.:2.300   3rd Qu.:2000   3rd Qu.: 14.800
 Max.   :98.00   Max.   :7.400   Max.   :2000   Max.   : 27.200

 SOLAR_RADIATION     RAINFALL          SNOWFALL         SEASONS
 Min.   :0.0000   Min.   : 0.0000   Min.   :0.00000   Autumn:2184
 1st Qu.:0.0000   1st Qu.: 0.0000   1st Qu.:0.00000   Spring:2208
 Median :0.0100   Median : 0.0000   Median :0.00000   Summer:2208
 Mean   :0.5691   Mean   : 0.1487   Mean   :0.07507   Winter:2160
 3rd Qu.:0.9300   3rd Qu.: 0.0000   3rd Qu.:0.00000
 Max.   :3.5200   Max.   :35.0000   Max.   :8.80000

       HOLIDAY     FUNCTIONING_DAY
 Holiday   : 432   No : 295
 No Holiday:8328   Yes:8465





               CITY             DATE           TIME      TEMPERATURE
 Paris           : 80   2023-06-19:400   12:00:00:400   Min.   : 6.59
 Seoul           :160                                   1st Qu.:20.59
 Suzhou          : 40                                   Median :20.59
 Washington, D.C.:120                                   Mean   :20.20
                                                        3rd Qu.:26.48
                                                        Max.   :27.00
    HUMIDITY       PRESSURE      WIND_SPEED
 Min.   :45.0   Min.   :1004   Min.   :1.760
 1st Qu.:45.0   1st Qu.:1004   1st Qu.:2.020
 Median :79.0   Median :1008   Median :2.110
 Mean   :67.1   Mean   :1007   Mean   :3.193
 3rd Qu.:83.0   3rd Qu.:1010   3rd Qu.:4.950
 Max.   :83.0   Max.   :1010   Max.   :4.950
          CITY             CITY_ASCII         LAT              LNG
 Clinton    :   14   Clinton    :   14   Min.   :-54.93   Min.   :-179.5900
 Richmond   :   14   Richmond   :   14   1st Qu.: 27.92   1st Qu.: -78.7794
 Franklin   :   13   Franklin   :   13   Median : 40.22   Median :  -0.7689
 Springfield:   13   Springfield:   13   Mean   : 33.10   Mean   : -11.3639
 Greenville :   12   Greenville :   12   3rd Qu.: 47.99   3rd Qu.:  29.6833
 Hamilton   :   11   Hamilton   :   11   Max.   : 81.72   Max.   : 179.3667
 (Other)    :26492   (Other)    :26492
           COUNTRY           ISO2            ISO3              ADMIN_NAME
 United States : 7768   US     : 7768   USA    : 7768   California  :  650
 United Kingdom: 1798   GB     : 1798   GBR    : 1798   Pennsylvania:  617
 Germany       : 1606   DE     : 1606   DEU    : 1606   New York    :  594
 Russia        : 1161   RU     : 1161   RUS    : 1161   Florida     :  472
 Japan         :  827   JP     :  827   JPN    :  827   São Paulo   :  430
 Brazil        :  788   (Other):13378   BRA    :  788   (Other)     :23730
 (Other)       :12621   NA's   :   31   (Other):12621   NA's        :   76
    CAPITAL        POPULATION             ID
 admin  : 3664   Min.   :       0   Min.   :1.004e+09
 minor  : 3754   1st Qu.:    9246   1st Qu.:1.277e+09
 primary:  208   Median :   20080   Median :1.643e+09
 NA's   :18943   Mean   :  162346   Mean   :1.556e+09
                 3rd Qu.:   59369   3rd Qu.:1.840e+09
                 Max.   :37977000   Max.   :1.934e+09
                 NA's   :973

## Process the web-scraped bike sharing system dataset

By now we have standardized all column names. Next, we will focus on cleaning up the values in the web-scraped bike sharing systems dataset.

In [9]:
# First load the dataset
bike_sharing_df <- read.csv("raw_bike_sharing_systems.csv")

In [15]:
# Print its head
head(bike_sharing_df)

  COUNTRY   CITY                  NAME                 SYSTEM
1 Albania   Tirana[5]             Ecovolis             NA
2 Argentina Buenos Aires[6][7]    Ecobici              Serttel Brasil[8]
3 Argentina Mendoza[10]           Metrobici            NA
4 Argentina Rosario               Mi Bici Tu Bici[11]  NA
5 Argentina San Lorenzo, Santa Fe Biciudad             Biciudad
6 Australia Melbourne[12]         Melbourne Bike Share PBSC & 8D
  OPERATOR                     LAUNCHED         DISCONTINUED         STATIONS
1 NA                           March 2011       NA                   8
2 Bike In Baires Consortium[9] 2010             NA                   400
3 NA                           2014             NA                   2
4 NA                           2 December 2015  NA                   47
5 NA                           27 November 2016 NA                   8
6 Motivate                     June 2010        30 November 2019[13] 53
  BICYCLES DAILY_RIDERSHIP
1 200      NA
2 4000     21917
3 40       NA
4 480      NA
5 80       NA
6 676      NA

Even from the first few rows, you can see there is plenty of undesireable embedded textual content, such as the reference link included in `Melbourne[12]`.

In this project, let's only focus on processing the following revelant columns (feel free to process the other columns for more practice):
 - `COUNTRY`: Country name 
 - `CITY`: City name
 - `SYSTEM`: Bike-sharing system name
 - `BICYCLES`: Total number of bikes in the system

In [16]:
# Select the four columns
sub_bike_sharing_df <- bike_sharing_df %>% select(COUNTRY, CITY, SYSTEM, BICYCLES)

Let's see the types of the selected columns

In [17]:
sub_bike_sharing_df %>% 
    summarize_all(class) %>%
    gather(variable, class)

  variable class
1 COUNTRY  factor
2 CITY     factor
3 SYSTEM   factor
4 BICYCLES factor

They are all interpreted as character columns, but we expect the `BICYCLES` column to be of numeric type. Let's see why it wasn't loaded as a numeric column - possibly some entries contain characters. Let's create a simple function called `find_character` to check that.

In [18]:
# grepl searches a string for non-digital characters, and returns TRUE or FALSE
# if it finds any non-digital characters, then the bicyle column is not purely numeric
find_character <- function(strings) grepl("[^0-9]", strings)

Let's try to find any elements in the `Bicycles` column containing non-numeric characters.

In [19]:
sub_bike_sharing_df %>% 
    select(BICYCLES) %>% 
    filter(find_character(BICYCLES)) %>%
    slice(0:10)

   BICYCLES
1  1790 (2019)[21]
2  4200 (2021)
3  4115[25]
4  7270 (regular)  2395 (electric)[38]
5  310[65]
6  500[75]
7  [78]
8  180[79]
9  600[82]
10 initially 800 (later 2500)

As you can see, many rows have non-numeric characters, such as `32 (including 6 rollers) [162]` and `1000[253]`. This is actually very common for a table scraped from Wiki when no input validation is enforced. 

Later, you will use regular expressions to clean them up.

Next, let's take a look at the other columns, namely `COUNTRY`, `CITY`, and `SYSTEM`, to see if they contain any undesired reference links, such as in `Melbourne[12]`.

In [20]:
# Define a 'reference link' character class, 
# `[A-z0-9]` means at least one character 
# `\\[` and `\\]` means the character is wrapped by [], such as for [12] or [abc]
ref_pattern <- "\\[[A-z0-9]+\\]"
find_reference_pattern <- function(strings) grepl(ref_pattern, strings)

In [21]:
# Check whether the COUNTRY column has any reference links
sub_bike_sharing_df %>% 
    select(COUNTRY) %>% 
    filter(find_reference_pattern(COUNTRY)) %>%
    slice(0:10)

     COUNTRY

Ok, looks like the `COUNTRY` column is clean. Let's check the `CITY` column.

In [22]:
# Check whether the CITY column has any reference links
sub_bike_sharing_df %>% 
    select(CITY) %>% 
    filter(find_reference_pattern(CITY)) %>%
    slice(0:10)

   CITY
1  Tirana[5]
2  Buenos Aires[6][7]
3  Mendoza[10]
4  Melbourne[12]
5  Melbourne[12]
6  Brisbane[14][15]
7  Lower Austria[16]
8  Different locations[19]
9  Brussels[24]
10 Namur[26]

Hmm, looks like the `CITY` column has some reference links to be removed. Next, let's check the `SYSTEM` column.

In [23]:
# Check whether the System column has any reference links
sub_bike_sharing_df %>% 
    select(SYSTEM) %>% 
    filter(find_reference_pattern(SYSTEM)) %>%
    slice(0:10)

  SYSTEM
1 Serttel Brasil[8]
2 EasyBike[64]
3 4 Gen.[72]
4 3 Gen. SmooveKey[135]
5 3 Gen. Smoove[162][163][164][160]
6 3 Gen. Smoove[200]
7 3 Gen. Smoove[202]
8 3 Gen. Smoove[204]

So the `SYSTEM` column also has some reference links.

After some preliminary investigations, we identified that the `CITY` and `SYSTEM` columns have some undesired reference links, and the `BICYCLES` column has both reference links and some 
textual annotations.

Next, you need to use regular expressions to clean up the unexpected reference links and text annotations in numeric values.

# TASK: Remove undesired reference links using regular expressions

_TODO:_ Write a custom function using `stringr::str_replace_all` to replace all reference links with an empty character for columns `CITY` and `SYSTEM`

In [36]:
# remove reference link
remove_ref <- function(strings) {
  ref_pattern <- "\\[[A-z0-9]+\\]"  # escape [ and ] with \\
  result <- str_replace_all(strings, ref_pattern, "") # replace with an empty string
  result <- trimws(result)  # removing leading and trailing white spaces
  return(result) # returning the cleaned string
}

_TODO:_ Use the `dplyr::mutate()` function to apply the `remove_ref` function to the `CITY` and `SYSTEM` columns

In [37]:
sub_bike_sharing_df <- sub_bike_sharing_df %>%
  mutate(CITY = remove_ref(CITY),
         SYSTEM = remove_ref(SYSTEM))

_TODO:_ Use the following code to check whether all reference links are removed:

In [38]:
sub_bike_sharing_df %>% 
    select(CITY, SYSTEM, BICYCLES) %>% 
    filter(find_reference_pattern(CITY) | find_reference_pattern(SYSTEM) | find_reference_pattern(BICYCLES))

   CITY
1  Different locations
2  Brussels
3  Montreal
4  Limassol, Nicosia District
5  Czechia
6  Prague 7
7  Prostějov
8  Czechia
9  Farsø
10 Kouvola
11 Kuopio
12 Lahti
13 Lappeenranta
14 Pori
15 Raseborg
16 Riihimäki
17 Tampere
18 Turku
19 Varkaus
20 Batumi
21 Darmstadt
22 Corfu
23 Budapest
24 Győr
25 Kaposvár
26 Milan
27 Lithuania
28 Various Locations (especially railway stations)
29 Kazan
30 Bratislava
31 Bratislava
32 Košice
33 Moldava nad Bodvou
34 Žilina
35 Changwon
36 Glasgow, Scotland
37 Greater Manchester, England
38 Edinburgh, Scotland
39 Liverpool, England
   SYSTEM                          BICYCLES
1  Blue-bike                       1790 (2019)[21]
2  3 Gen. Cyclocity                4115[25]
3  PBSC & 8D                       7270 (regular)  2395 (electric)[38]
4  3 Gen. Smoove                   310[65]
5  NA                              500[75]
6  4 Gen. Ofo                      [78]
7  3 Gen. nextbike                 180[79]
8  3 Gen. nextbike                 600[82]
9  2 Gen                           [89]
10 Donkey Republic                 60(regular) 10(electric)(2022)[96]
11 Freebike                        350(2022) [97]
12 Freebike                        250 (2022) [98]
13 Donkey Republic                 120(2022)[99]
14 Rolanbike                       50 (2022) [103]
15 Donkey Republic                 30 (2022) [104]
16 Donkey Republic                 60 (2022)  [105]
17 CityBike Global                 700 (2022)[106]
18 Nextbike                        700 (2022) [107]
19 Juro                            20 (2022) [110]
20 3 Gen. SmooveKey                370[136]
21 3 & 4 Gen. Call a Bike flex     350 [147]
22 3 Gen. Smoove                   100[64]
23 3 Gen.                          1526[180]
24 NA                              180[182]
25 NA                              32 (including 6 rollers)  [183]
26 3 Gen. Clear CC                 5430 (1000 E)[195]
27 NA                              150 E[207]
28 OV-Fiets/Nederlandse Spoorwegen 21700 [210]
29 3 Gen. Cyclocity                120[238]
30 NA                              400[240]
31 NA                              80[242]
32 NA                              500[246]
33 NA                              25[249]
34 nextbike                        123[263]
35 NA                              2348[272]
36 3 Gen. nextbike                 400[294]
37 NA                              1500[296]
38 Urban Sharing                   500[297]
39 NA                              1000[298]

# TASK: Extract the numeric value using regular expressions

_TODO:_ Write a custom function using `stringr::str_extract` to extract the first digital substring match and convert it into numeric type For example, extract the value '32' from `32 (including 6 rollers) [162]`.

In [42]:
# Extract the first number
extract_num <- function(columns){
    # Define a digital pattern
    digitals_pattern <- "[0-9]+"
    # Find the first match using str_extract
    first_match <- str_extract(columns, digitals_pattern)
    # Convert the result to numeric using the as.numeric() function
    first_num <- as.numeric(first_match)
return(first_num)
}

_TODO:_ Use the `dplyr::mutate()` function to apply `extract_num` on the `BICYCLES` column

In [49]:
# Use the mutate() function on the BICYCLES column
sub_bike_sharing_df <- sub_bike_sharing_df %>% 
                  mutate(BICYCLES = extract_num(BICYCLES))

_TODO:_ Use the summary function to check the descriptive statistics of the numeric `BICYCLES` column

In [50]:
summary(sub_bike_sharing_df$BICYCLES)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
      4      70     300    1834    1000   78000      97

_TODO:_ Write the cleaned bike-sharing systems dataset into a csv file called `bike_sharing_systems.csv`

In [57]:
# Write dataset to `bike_sharing_systems.csv`
write.csv(sub_bike_sharing_df, "bike_sharing_systems.csv", row.names = FALSE)

# References:

If you need to refresh your memory about regular expressions, please refer to this good Regular Expression cheat sheet:

<a href="https://www.rstudio.com/wp-content/uploads/2016/09/RegExCheatsheet.pdf?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork878-2022-01-01" target="_blank">Basic Regular Expressions in R</a>

# Next Steps

Great! Now you have cleaned up the bike-sharing system dataset using regular expressions. Next, you will use other `tidyverse` functions to perform data wrangling on the bike-sharing demand dataset.

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork878-2022-01-01" target="_blank">Yan Luo</a>

### Other Contributors

Jeff Grossman

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description           |
| ----------------- | ------- | ---------- | ---------------------------- |
| 2021-04-08        | 1.0     | Yan        | Initial version created      |
|                   |         |            |                              |
|                   |         |            |                              |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>