<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

<h1>Web scrape a Global Bike-Sharing Systems Wiki Page</h1>

Estimated time needed: **20** minutes

## Lab Overview:

Before getting your hands dirty on the actual data analysis tasks, you first need to obtain some background and context information about well-known bike sharing systems worldwide, such as their location, launch date, rental bike size, and so on.

You can get such information from this Wiki page: 

https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork878-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/l2-list-bike-sharing-systems.png" width="600" align="center">
</a>

First import necessary libraries for the webscraping task.


In this lab, you need to use the `rvest` library to obtain the bike sharing systems table from the above web page, convert the table into a data frame, and write the data frame to a csv file for future data wrangling and analysis tasks.

In [1]:
# Check if need to install rvest` library
require("rvest")

library(rvest)

Loading required package: rvest
Loading required package: xml2

In [3]:
library(rvest)
library(xml2)

# TASK: Extract bike sharing systems HTML table from a Wiki page and convert it into a data frame

_TODO:_ Get the root HTML node

In [4]:
url <- "https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems"
# Get the root HTML node by calling the `read_html()` method with URL
html_content <- read_html(url)

table_nodes <- html_nodes(html_content, "table")
table_nodes

{xml_nodeset (4)}
[1] <table class="wikitable sortable" style="text-align:left"><tbody>\n<tr>\n ...
[2] <table class="nowraplinks mw-collapsible autocollapse navbox-inner" style ...
[3] <table class="nowraplinks navbox-subgroup" style="border-spacing:0"><tbod ...
[4] <table class="nowraplinks navbox-subgroup" style="border-spacing:0"><tbod ...

Note that this HTML page at least contains three child `<table>` nodes under the root HTML node. So, you will need to use `html_nodes(root_node, "table")` function to get all its child `<table>` nodes:

```
<html>
  <table>(table1)</table>
  <table>(table2)</table>
  <table>(table3)</table>
  ...
</html>
```

table_nodes <- html_nodes(root_node, "table")

You can use a `for` loop to print each table, and then you will see that the actual the bike sharing table is the first element `table_nodes[[1]]`.

Next, you need to convert this HTML table into a data frame using the `html_table()` function. You may choose to include `fill = TRUE` argument to fill any empty table rows/columns.

In [5]:
# Convert the bike-sharing system table into a dataframe
for (i in 1:length(table_nodes)) {
  print(table_nodes[[i]])
}

bike_df <- html_table(table_nodes[[1]], fill = TRUE)

{html_node}
<table class="wikitable sortable" style="text-align:left">
[1] <tbody>\n<tr>\n<th>Country</th>\n<th>City</th>\n<th>Name</th>\n<th>System ...
{html_node}
<table class="nowraplinks mw-collapsible autocollapse navbox-inner" style="border-spacing:0;background:transparent;color:inherit">
[1] <tbody>\n<tr><th scope="col" class="navbox-title" colspan="2">\n<link rel ...
{html_node}
<table class="nowraplinks navbox-subgroup" style="border-spacing:0">
[1] <tbody>\n<tr>\n<th scope="row" class="navbox-group" style="width:1%">East ...
{html_node}
<table class="nowraplinks navbox-subgroup" style="border-spacing:0">
[1] <tbody>\n<tr>\n<th scope="row" class="navbox-group" style="width:1%">Cana ...

In [6]:
head(bike_df)

  Country   City                  Name                 System
1 Albania   Tirana[5]             Ecovolis
2 Argentina Buenos Aires[6][7]    Ecobici              Serttel Brasil[8]
3 Argentina Mendoza[10]           Metrobici
4 Argentina Rosario               Mi Bici Tu Bici[11]
5 Argentina San Lorenzo, Santa Fe Biciudad             Biciudad
6 Australia Melbourne[12]         Melbourne Bike Share PBSC & 8D
  Operator                     Launched         Discontinued         Stations
1                              March 2011                            8
2 Bike In Baires Consortium[9] 2010                                  400
3                              2014                                  2
4                              2 December 2015                       47
5                              27 November 2016                      8
6 Motivate                     June 2010        30 November 2019[13] 53
  Bicycles Daily ridership
1 200
2 4000     21917
3 40
4 480
5 80
6 676

Summarize the bike sharing system data frame

In [7]:
# Summarize the dataframe
summary(bike_df)

   Country              City               Name              System
 Length:554         Length:554         Length:554         Length:554
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
   Operator           Launched         Discontinued         Stations
 Length:554         Length:554         Length:554         Length:554
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
   Bicycles         Daily ridership
 Length:554         Length:554
 Class :character   Class :character
 Mode  :character   Mode  :character

Export the data frame as a csv file called `raw_bike_sharing_systems.csv`

In [8]:
# Export the dataframe into a csv file
write.csv(bike_df, "raw_bike_sharing_systems.csv", row.names = FALSE)

For more details about webscraping with `rvest`, please refer to the previous webscraping notebook here:

[Webscraping in R](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M4_Working_With_Data/lab3_jupyter_webscraping.ipynb)

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork878-2022-01-01" target="_blank">Yan Luo</a>

### Other Contributors

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description           |
| ----------------- | ------- | ---------- | ---------------------------- |
| 2021-04-05        | 0.1     | Yan        | Initial version created      |
|                   |         |            |                              |
|                   |         |            |                              |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>